# Application
ENVIRONMENT=development

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=delivery_risk_pipeline
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow

# Airflow
AIRFLOW_HOME=opt/airflow

# APIs


# LLM
LLM_API_KEY=